spring:
  datasource:
    url: jdbc:postgresql://ep-shrill-surf-14658469.ap-southeast-1.aws.neon.tech/gsmdb
    username: s23012
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
  sql:
    init:
      mode: always


server:
  port: 8080

jwt:
  secret:
    key: 7Iqk7YyM66W07YOA7L2U65Sp7YG065+9U3ByaW5n6rCV7J2Y7Yqc7YSw7LWc7JuQ67mI7J6F64uI64ukLg==
  admin-token: AAABnvxRVklrnYxKZ0aHgTBcXukeZygoC

password:
  key: 12345

